---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Hi! I'm Kihyo Park (call me Kihyo or just Kih). I'm a nerd who is interested in computer science. I love how machines process informatio that is made by humans mostly. Recently I'm interested in compilers and data analysis/engineering. 
          Previously, I was in the Linguistics Department of Cornell University, where I conducted research on comparing human language processing with LLMs' one.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Projects Listing (under construction)</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
